services:
  app:
    build: .
    container_name: payments_ledger_app
    ports:
      - "8000:8000"
    environment:
      APP_ENV: development
      DEBUG: "True"
    volumes:
      - .:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
